/* Styles for the menu toggle button */
.menu-toggle-button {
  position: fixed; /* Fixes the button's position on the screen */
  top: 20px; /* Positions the button 20px from the top */
  left: 20px; /* Positions the button 20px from the left */
  background: linear-gradient(
    to right,
    #cfc7fc,
    #feeef1
  ); /* Background gradient */
  border-radius: 999px; /* Makes the button circular */
  box-shadow: #cfb4dc 0 10px 20px -10px; /* Adds a shadow to the button */
  color: #000000; /* Text color */
  cursor: pointer; /* Changes cursor to pointer on hover */
  font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji",
    NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji",
    EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue",
    "Noto Sans", sans-serif; /* Font family */
  font-size: 16px; /* Font size */
  font-weight: 700; /* Font weight */
  line-height: 24px; /* Line height */
  padding: 8px 18px; /* Padding inside the button */
  user-select: none; /* Prevents text selection */
  touch-action: manipulation; /* Improves touch interaction */
  text-align: center; /* Centers text */
  height: 2.5rem; /* Button height */
  width: 3rem; /* Button width */
  border: 0; /* Removes border */
}

/* Styles for the side menu */
.side-menu {
  position: fixed; /* Fixes the menu's position on the screen */
  top: 0; /* Positions the menu at the top */
  left: -250px; /* Positions the menu off-screen to the left */
  width: 250px; /* Menu width */
  height: 100%; /* Menu height */
  background: linear-gradient(
    to top,
    #cfc7fc,
    #feeef1
  ); /* Background gradient */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adds a shadow to the menu */
  transition: left 0.3s ease; /* Smooth transition for the left property */
  z-index: 1000; /* Ensures the menu is on top */
  padding: 20px; /* Padding inside the menu */
  display: flex; /* Flexbox layout */
  flex-direction: column; /* Column layout */
  align-items: flex-start; /* Aligns items to the start */
}

/* Styles for the open state of the side menu */
.side-menu.open {
  left: 0; /* Moves the menu into view */
}

/* Styles for the menu close button */
.menu-close-button {
  width: 100%; /* Full width */
  align-self: flex-end; /* Aligns the button to the end */
  background: none; /* No background */
  border: none; /* No border */
  font-size: 1.5rem; /* Font size */
  cursor: pointer; /* Changes cursor to pointer on hover */
  margin: 0; /* No margin */
  box-shadow: none; /* No shadow */
  text-align: right; /* Aligns text to the right */
}

/* Styles for the unordered list in the side menu */
.side-menu ul {
  list-style: none; /* Removes list bullets */
  padding: 0; /* No padding */
  margin: 1%; /* Margin around the list */
  width: 100%; /* Full width */
}

/* Styles for the list items in the side menu */
.side-menu ul li {
  padding: 10px 0; /* Padding inside the list items */
  width: 100%; /* Full width */
  text-align: left; /* Aligns text to the left */
  cursor: pointer; /* Changes cursor to pointer on hover */
  transition: background 0.3s ease; /* Smooth transition for background color */
  color: #000000; /* Text color */
}

/* Styles for the hover state of the list items */
.side-menu ul li:hover {
  background-color: #f0f0f0; /* Background color on hover */
}

.user {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  color: #000000;
}

.user:last-child {
  border-bottom: none;
}

.user h2 {
  margin: 0;
  font-size: 18px;
}

.user p {
  margin: 5px 0 0;
  font-size: 14px;
}

.user-modal h2 {
  color: #000000;
}

.user-modal {
  background: linear-gradient(to top, #cfc7fc, #feeef1);
}

.user-modal {
  /* existing styles */
}

.user-list {
  max-height: 300px; /* Adjust the height as needed */
  overflow-y: auto;
}

.scrollable {
  max-height: 300px; /* Adjust the height as needed */
  overflow-y: auto;
}

.add-user {
  margin-top: 10%;
}

.delete-user {
  margin-top: 5%;
  color: red;
  margin-right: 10px; /* Add spacing between buttons */
}

/* Add margin to the edit and delete profile buttons */
.edit-profile-button,
.delete-user {
  margin-bottom: 1%; /* Add spacing between buttons */
}

/* Add margin to the save and cancel buttons on the edit profile form */
.edit-profile-form button {
  margin-bottom: 1%; /* Add spacing between buttons */
}

.welcomeMessage{
  color: #000000;
}