/* Importing the Kumbh Sans font from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap");

/* Styling for the form element */

.formContainer {
  position: relative;
  border-radius: 8px;
}

.closeButton1 {
  align-self: flex-end;
  background: none;
  border: none;
  box-shadow: none;
  cursor: pointer;
  left: 65%;
  padding: 0%;
  margin: 0%;
  position: absolute;
  height: fit-content;
  width: fit-content;
  top: 5%;
}

form {
  border: 2px solid #ccc; /* Border around the form */
  padding: 20px; /* Padding inside the form */
  border-radius: 10px; /* Rounded corners for the form */
  width: 300px; /* Fixed width for the form */
  margin: auto; /* Center the form horizontally */
  background: linear-gradient(
    to top,
    #cfc7fc,
    #feeef1
  ); /* Gradient background for the form */
  color: black; /* Text color inside the form */
}

/* Styling for the label elements inside the form */
form label {
  display: block; /* Make labels block elements */
  margin-bottom: 5px; /* Space below each label */
  text-align: left; /* Align text to the left */
  font-family: "Kumbh Sans", sans-serif; /* Font family for labels */
  font-weight: 700; /* Bold font weight for labels */
}

/* Styling for the input elements inside the form */
form input {
  height: 2rem; /* Fixed height for inputs */
  width: calc(100% - 12px); /* Full width minus padding */
  padding: 5px; /* Padding inside inputs */
  margin-bottom: 10px; /* Space below each input */
  border-radius: 2rem; /* Rounded corners for inputs */
  border: 1px solid #ccc; /* Border around inputs */
}

.error-message {
  color: red;
  margin-top: 1%;
}
