@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap");

form {
  border: 2px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  margin: auto;
  background: linear-gradient(to top, #cfc7fc, #feeef1);
  color: black;
}

form label {
  display: block;
  margin-bottom: 5px;
  text-align: left;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 700;
}

form input {
    height: 2rem;
    width: calc(100% - 12px);
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 2rem; /* Add this line to make inputs rounded */
    border: 1px solid #ccc; /* Optional: Add border to inputs */
  }