/* Container for energy consumption section */
.EnergyConsumption {
  display: inline-block;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Container for cards */
.cards-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

/* Individual card styling */
.card {
  flex: 1;
  max-width: 33%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Styling for text elements inside cards */
.card h2,
.card p,
.card h1,
.card h4 {
  margin-bottom: 20px;
  background: linear-gradient(to top, #6a11cb, #1e1649);
  -webkit-background-clip: text;
  color: transparent;
}

/* Center align h1 elements */
h1 {
  text-align: center;
}

/* Styling for buttons inside cards */
.card button {
  width: 100%;
  margin: 20px 0;
}

/* Media queries for responsive design */
@media (max-width: 1000px) {
  .cards-container {
    flex-direction: column;
    align-items: center;
  }

  .card {
    max-width: 80%;
    margin-bottom: 2%;
  }
}

@media (max-width: 768px) {
  .EnergyConsumption {
    padding: 1.5%;
  }

  .card {
    padding: 1.5%;
  }

  .card h2,
  .card p,
  .card h1,
  .card h4 {
    margin-bottom: 1.5%;
  }

  .card button {
    margin: 1.5% 0;
  }
}

@media (max-width: 480px) {
  .EnergyConsumption {
    padding: 1%;
  }

  .card {
    padding: 1%;
  }

  .card h2,
  .card p,
  .card h1,
  .card h4 {
    margin-bottom: 1%;
  }

  .card button {
    margin: 1% 0;
  }
}
