/* Container for the cards */
.cards-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

/* Styling for each smart card */
.smartcard {
  flex: 1;
  max-width: 50%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

/* Styling for text elements inside smart card */
.smartcard h2,
.smartcard p,
.smartcard h1,
.smartcard h4 {
  margin-bottom: 20px;
  background: linear-gradient(to top, #6a11cb, #1e1649);
  -webkit-background-clip: text;
  color: transparent;
}

/* Center align h1 elements */
h1 {
  text-align: center;
}

/* Styling for the add plug button */
.add-plug-button {
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin: 1%;
  cursor: pointer;
  border-radius: 8px;
  max-width: max-content;
  position: relative;
}

/* Container for the plugs */
.plugs-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding-top: 5%;
}

/* Styling for each plug card */
.plugcard {
  flex: 1 1 calc(33.333% - 20px); /* 3 per row with gap */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  display: inline-flex;
  flex-direction: column;
  align-items: left;
  margin-bottom: 1%; /* Add margin to the bottom for spacing */
}

/* Styling for h3 elements inside plug card */
.plugcard h3 {
  margin-bottom: 20px;
  background: linear-gradient(to top, #6a11cb, #1e1649);
  -webkit-background-clip: text;
  color: transparent;
}

/* Styling for the switch */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide the default checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Styling for the slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

/* Styling for the slider before element */
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

/* Change background color when checked */
input:checked + .slider {
  background-color: #6a11cb;
}

/* Move the slider when checked */
input:checked + .slider:before {
  transform: translateX(26px);
}

/* Styling for light input */
.light-input {
  padding: 10px;
  margin: 10px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  width: calc(100% - 24px); /* Adjust width to fit within the container */
}

/* Container for light presets */
.light-presets {
  display: flex;
  justify-content: space-between;
  gap: 10%;
  width: 100%;
  margin-bottom: 1%;
}

/* Styling for individual light presets */
.saver,
.dim,
.night {
  border-radius: 5%;
  min-height: fit-content;
  width: 30%;
}

/* Container for light sliders */
.light-sliders-container {
  color: #6a11cb;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  width: 100%;
}

/* Container for power consumption */
.power-consumption-container {
  width: 100%;
  max-height: 300px; /* Adjust as needed */
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

/* Styling for scrollable menu */
.scrollable-menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Styling for each device item */
.device-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #eee;
}

/* Remove border for the last device item */
.device-item:last-child {
  border-bottom: none;
}

/* Styling for power consumption and device name */
.power-consumption,
.device-name {
  font-weight: bold;
  color: #6a11cb;
}

/* Styling for the form inside the modal */
.smartplug-form {
  border: 2px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  margin: auto;
  background: linear-gradient(to top, #cfc7fc, #feeef1);
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the input and button */
}

/* Styling for the input inside the form */
.smartplug-form .device-input {
  width: 100%;
  margin-bottom: 20px; /* Add some space between the input and the button */
}

.delete-plug-button{
  width: 100%;
}

