@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap");

/* Global Styles */
* {
  box-sizing: border-box;
}

html {
  font-family: "Quicksand", sans-serif;
  line-height: 1.5;
  color: #ebe7ef;
  background: linear-gradient(to top, #6a11cb, #1E1649);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  min-height: 80rem;
}

/* Main Container */
main {
  width: 90%;
  max-width: 50rem;
  margin: auto;
  text-align: center;
}

#centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Titles */
#titlep1, #titlep2 {
  font-family: "Kumbh Sans", serif;
  font-size: 3rem;
  margin: auto;
}

#titlep1 {
  font-weight: 200;
  height: 3rem;
  margin: auto;
}

#titlep2 {
  font-size: 5rem;
  margin: auto;
}

/* Buttons */


#button2 {
  margin-top: 1rem;
}

/* Headings */
main h2 {
  font-family: "Roboto Condensed", sans-serif;
  margin: 0 0 1.5rem;
  color: #a18aba;
}

#examples {
  margin: 3rem auto;
}

#examples h2 {
  text-align: left;
}


/* Tab Content */
#tab-content {
  padding: 1rem;
  border-radius: 6px;
  background-color: #2f1d43;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

#tab-content h3 {
  margin: 0;
}

#tab-content code {
  font-size: 1rem;
}

/* Login Form */

